<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= grammar %> TEST</title>
    </head>
    <body>

        <link rel="stylesheet" type="text/css" href="./css/<%= editorPlatform %>-icons.css">
        <link rel="stylesheet" type="text/css" href="./css/<%= editorPlatform %>-editor.css">
        <link rel="stylesheet" type="text/css" href="./css/<%= editorPlatform %>-all-themes.css">
        <script src="<%= appPath %>" type="text/javascript"></script>
    </body>
</html>
